<form method="POST" action="/prehistoric_creatures/<%=creatureId%>/?_method=PUT">
    <label for="type">Edit Type:</label>
    <input id="type" type="text" name="type" value="<%=preCreature.type%>" />
    
    <label for="picture">Edit Picture:</label>
    <input id="picture" type="text" name="img_url" value="<%=preCreature.img_url%>" />


    <!-- <input type="submit" /> -->
    <button type="submit">Submit</button>
</form>