<form method="POST" action="/prehistoric_creatures">
    <label for="preCreatureType">Type:</label>
    <input type="text" name="type" id="preCreatureType">
    
    <label for="newCreatureImgInput">New Creature Img URL</label>
    <input id="newCreatureImgInput" type="text" name="img_url">
    
    <button type="submit">Add a Prehistoric Creature!</button>
</form>