<form method="POST" action="/dinosaurs">
    <label for="dinosaurName">Name:</label>
    <input type="text" name="taco" id="dinosaurName">

    <label for="dinosaurType">Type:</label>
    <input type="text" name="burrito" id="dinosaurType">
    
    <button type="submit">Add a Dino!</button>
</form>